* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.collumn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 40%;
}

.button {
  min-width: 10%;
  max-width: 20%;
  height: auto;
  text-align: center;
  cursor: pointer;
}
#start {
  background-color: green;
}
#stop {
  background-color: red;
}
#new {
  background-color: orangered;
}
#temp {
  background-color: blue;
  color: white;
}